* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chat-header {
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #00529f;
    color: white;
    border-bottom: 1px solid black;
}

.chat-body {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.message {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    background-color: #D9E6FF;
    border-radius: 5px;
}

.user-message {
    align-self: flex-end;
    background-color: #ffe625;
}

.chat-input {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 0.2%;
}

.chat-input input[type="text"] {
    flex-grow: 1;
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
}

.chat-input button{
    margin-left: 0.1%;
}

.chat-input button,
.chat-input input[type="button"] {
    height: 100%;
    padding: 8px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #00529f;
    color: #ffe625;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.chat-input button:hover,
.chat-input input[type="button"]:hover {
    background-color: #00529f;
}

.message {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.user-message {
    background-color: #00529f;
    color: #fff;
    text-align: right;
}

.bot-message {
    background-color: #ffe625;
    color: #333;
}

img{
    width: 5em;
}

p{
    font-weight: bolder;
    font-size: xx-large;
}

.confirmation-box {
    display: none;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00529f;
    border: 10px solid #ffe625;
    padding: 20px;
    z-index: 999;
}

.confirmation-content {
    text-align: center;
    color: white;
}

.confirmation-box button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffe625;
    color: black;
    border: none;
    border-radius: 5px;
}

.confirmation-box button:hover {
    background-color: #ddc723;
}

#conferma{
    color: green;
}

#annulla{
    color: red;
}

#elimina{
    color: red;
}

#clear{
    position: absolute;
    bottom: 0.5em;
    left: 90em;
    width: 1%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.rotate-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 190vw;
    height: 190vh;
    color: white;
    text-align: center;
    line-height: 35em;
    font-weight: 100;
    padding: 10px;
    border-radius: 5px;
    z-index: 10001;
    display: none; /* Nasconde il messaggio di default */
}

/* Stili per il popup */
/*.popup {
    position: fixed;
    left: -250px; /* Fuori dalla vista 
    top: 50%;
    transform: translate(0, -50%);
    background-color: white;
    border: 2px solid black;
    width: 19em;
    padding: 0px;
    transition: left 0.3s ease-in-out;
    z-index: 9999;
}*/

/* Stili per il popup visibile */
/*.popup.active {
    left: 0;
}*/

/* Stili per il contenitore del popup */
/*.popup-container {
    position: relative;
}*/

/* Stili per il pulsante di apertura del popup */
/*.open-popup {
    position: absolute;
    left: 10px;
    top: -44.5em;
    width: 22em;
    transform: translateY(-50%);
    padding: 10px;
    background-color: #00529f;
    color: white;
    border-radius: 5px;
    border: 2px solid #00529f;
    cursor: pointer;
    z-index: 9998; /* Assicura che il pulsante sia dietro il popup quando aperto
}*/

/* Stili per gli elementi della lista */
/*.popup ul {
    list-style-type: none;
    padding-left: 10px;
}

.popup ul li {
    margin-bottom: 10px;
}
.popup ul li a{
    color: black;
}*/

@media all and (max-width: 768px) {
    .chat-container {
        width: 100%;
        height: 100%;
    }

    .message {
        width: 100%;
        margin-left: 0;
    }

    .chat-input {
        margin-bottom: 1%;
    }

    .chat-input input[type="text"] {
        padding: 8px;
    }

    .chat-input button{
        margin-left: 1%;
    }

    .confirmation-box {
        width: 65%;
    }

    .confirmation-box #decline {
        margin-top: 1em;
    }

    .confirmation-box #decline {
        margin-bottom: 1em;
    }

    #clear{
        position: absolute;
        left: calc(100% - 8.5em);
    }

    .material-symbols-outlined{
        vertical-align: -5%;
    }

    /*.open-popup{
        display: none;
    }

    .popup{
        border: none;
        display: none;
    }*/
}

@media all and (min-width: 1470px) {
    #clear{
        position: absolute;
        left: 102em;    
    }

    /*.open-popup{
        top: -51.8em;
        width: 28em;
    }*/
}

@media all and (min-width: 1536px) {
    #clear{
        position: absolute;
        left: 107em;    
    }

    /*.open-popup{
        top: -51.8em;
        width: 28em;
    }*/
}

@media all and (min-width: 1690px) {
    #clear{
        position: absolute;
        left: 135em;    
    }

    /*.open-popup{
        top: -51.8em;
        width: 28em;
    }*/
}

@media all and (max-width: 320px) {
    #clear{
        position: absolute;
        left: 13em;    
    }

    .confirmation-box{
        width: 80%;
        height: 63%;
        z-index: 9999;
    }

    .user-message, .bot-message {
        z-index: 10000;
    }

    /*.popup {
        display: none;
        border: none;
    }*/
}

@media all and (width: 1280px){
    #clear{
        position: absolute;
        left: 88em;    
    }

    /*.open-popup{
        width: 18em;
        top: -49.7em;
    }

    .popup{
        width: 16em;
    }*/
}

@media all and (width: 1024px){
    #clear{
        position: absolute;
        left: 68.5em;    
    }

    .material-symbols-outlined{
        vertical-align: -10%;
    }

    /*.open-popup{
        display: none;
    }

    .popup{
        border: none;
    }*/
}

@media all and (width: 412px){
    #clear{
        position: absolute;
        left: 22.5em;    
    }
}

@media all and (width: 540px){
    #clear{
        position: absolute;
        left: 32em;    
    }
}

@media all and (width: 912px){
    #clear{
        position: absolute;
        left: 60em;    
    }

    /*.open-popup{
        top: -92.5em;
        width: 13em;
    }

    .popup{
        width: 11em;
    }*/
}

@media all and (width: 820px){
    #clear{
        position: absolute;
        left: 53em;    
    }

    .material-symbols-outlined{
        vertical-align: -10%;
    }

    /*.open-popup{
        top: -78.3em;
        width: 12em;
    }

    .popup{
        width: 8em;
    }*/
}

@media screen and (width: 720px){
    #clear{
        position: absolute;
        left: 45em;   
    }

    .material-symbols-outlined{
        vertical-align: 15%;
    }
}

@media all and (width: 768px){
    #clear{
        position: absolute;
        left: 49em;   
    }

    .material-symbols-outlined{
        vertical-align: 20%;
    }
}

@media screen and (min-width: 769px) {
    .rotate-message {
        display: none; /* Nasconde il messaggio su schermi più grandi (computer) */
    }
}